/* Components */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Playfair:opsz@5..1200&family=Poppins&display=swap");
header {
  font-family: "IBM Plex Mono";
  letter-spacing: 6px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  width: 100%;
  height: 5rem;
  padding: 8px 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50rem;
}
header nav {
  font-family: "Poppins";
  display: flex;
  gap: 5rem;
}
header nav li a {
  color: #fff;
}
header nav li a:hover {
  cursor: pointer;
  color: #9e9e9e;
  transition: 0.3s;
}

.background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(/public/pages/projects/projects/parallaxSite/src/assets/bg_a.jpeg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.background::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.35) 40%);
}

.material-symbols-outlined {
  animation: 0.8s infinite jumpArrow ease;
}

@keyframes jumpArrow {
  from {
    bottom: 2rem;
  }
  50% {
    bottom: 2.5rem;
  }
  to {
    bottom: 2rem;
  }
}
.centerTextBackground {
  margin-bottom: 24rem;
  z-index: 50;
}
.centerTextBackground::before {
  content: "--";
  font-size: 42px;
  color: yellow;
  position: relative;
  left: -2.5rem;
  top: 2rem;
}
.centerTextBackground .asideCenterTextBackground {
  color: #ffff00;
  font-size: 24px;
}
.centerTextBackground .mainCenterTextBackground {
  color: #fff;
  font-size: 48px;
  margin-top: 1rem;
}

.contentContainer {
  background-color: rgba(206, 206, 206, 0.568627451);
  display: flex;
  justify-content: center;
  text-align: justify;
}
.contentContainer .textContent {
  width: 80%;
  margin: 2rem 0 2rem 0;
}
.contentContainer .textContent .text:not(:first-child) {
  margin-top: 1rem;
}

.footer {
  width: 100%;
  height: 15rem;
}
.footer .backgroundFooter {
  width: 100%;
  height: 100%;
  background-image: url(/public/pages/projects/projects/parallaxSite/src/assets/bgFooter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .backgroundFooter .backdropFilter {
  width: 32rem;
  padding: 3rem;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 5rem;
  color: #fff;
}
.footer .backgroundFooter .backdropFilter .socialContact .labelFooterIcons {
  text-align: center;
}
.footer .backgroundFooter .backdropFilter .socialContact .labelFooterIcons .boldTextFooter {
  font-size: 24px;
  display: flex;
}
.footer .backgroundFooter .backdropFilter .socialContact .labelFooterIcons .textFooter {
  margin: 6px 0 6px 0;
  font-size: 20px;
  text-align: left;
}
.footer .backgroundFooter .backdropFilter .subscribeNow {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-transform: uppercase;
  font-family: "Playfair";
  font-size: 24px;
}
.footer .backgroundFooter .backdropFilter .subscribeNow #emailInput {
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  border: none;
}
.footer .backgroundFooter .backdropFilter .subscribeNow #submitInput {
  padding: 4px;
  border: none;
  border-radius: 4px;
  background-color: #807272;
  text-transform: uppercase;
  color: #fff;
}
.footer .backgroundFooter .backdropFilter .subscribeNow #submitInput:hover {
  cursor: pointer;
  background-color: #897989;
  transform: scale(1.01);
  transition: 0.3s;
}

/* 'Poppins' , 'Playfair' , 'IBM Plex Mono' */
/* Reset and configs */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5568627451);
}

/*# sourceMappingURL=global.css.map */
