/* Components */
@import './components/variables';
@import './components/header/header.scss';
@import './components/background/background.scss';
@import './components/arrowJump/arrowJump.scss';
@import './components/centerTextBackground/centerTextBackground.scss';
@import './components/contentContainer/contentContainer.scss';
@import './components/footer/footer.scss';

/* 'Poppins' , 'Playfair' , 'IBM Plex Mono' */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Playfair:opsz@5..1200&family=Poppins&display=swap');

/* Reset and configs */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #0000008e;
}
