header {
  width: 100vw;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  user-select: none;
  
  .logoHeader {
    img {
      width: 3.5rem;
    }
  }

  a {
    font-size: 1.5rem;
    color: $color;
    transition: .2s;
    margin-left: 3rem;

    &:first-child {
      font-size: 1.7rem;
    }

    &:hover {
      filter: brightness(1.2);
    }
  }
}